<title>Hospital Maps</title>

<!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAO9Z0tWf75CNdw0ADDoB6MrnX4dm5sRKM&sensor=false">
</script>-->

<%= content_tag "div", id: "hospitals", data: {hospitals: @all_hospitals} do %>
<% end %>


<div class="panel">

    <h3>Top 100 most frequently billed medical procedures</h3>        
    <select id="procdropdown" data-placeholder="Choose a Procedure..." class="chzn-select" tabindex="1">
      <option value=""></option>
      <% @procedures.each do |procedure|  %>
        <option value='<%=procedure.drg_def.titleize %>'><%=procedure.drg_def.titleize%></option> 
      <% end  %>
    </select>

  
      <h3 class="subh3">Patient Surveys</h3>

      <select id="procdropdown" data-placeholder="Select patient survey data..." class="chzn-select" tabindex="1">
      </select>
   
      <h3 class="subh3">Hospital Outcomes</h3>
      <select id="procdropdown" data-placeholder="Select hospital outcome data..." class="chzn-select" tabindex="1">
      </select>

 
  </div>
  <a class="trigger" href="#"><span class="clear-text">Hide</span></a>
  </div>

</div>

<div id="search-box">
      <input id="target" type="text" placeholder="Search hospital or location">
</div>

<div id="map-canvas">
</div>

